################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TestConsole_ZoomVideosSDK/TestConsole_ZoomVideosSDK/output.mp4
/TestConsole_ZoomVideosSDK/TestConsole_ZoomVideosSDK/audioSend.raw
/TestConsole_ZoomVideosSDK/TestConsole_ZoomVideosSDK/audio.raw
/TestConsole_ZoomVideosSDK/TestConsole_ZoomVideosSDK/video.yuv
/TestConsole_ZoomVideosSDK/TestConsole_ZoomVideosSDK/videoSend.yuv
